<form method="post" action="{{ path('app_posts_delete', {'slug': post.slug}) }}" onsubmit="êtes vous sur de vouloir supprimer cette publication?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn">Supprimer</button>
</form>
